#game {
  width: 1000px;
}

#scores {
  width: 50%;
}

/* #wave-info {
}

#start-wave {
}

#game-board {
}

#gun-stats {
} */

#money {
  width: 40%;
  align-items: flex-start;
}

/* #hotguns {
} */

.gunstat {
  width: 40%;
}
