#game {
  position: relative;
}

#scores {
  width: 50%;
}

#wave {
  position: absolute;
  right: 20px;
  top: 15px;
}

#stats-canvas,
#canvas,
#gun-canvas {
  display: block;
}

/* #wave-info {
}

#start-wave {
}

#game-board {
}

#gun-stats {
} */

/* #hotguns {
} */
