body {
  height: 100vh;
  background-color: #58bc82;
  background-repeat: no-repeat;
  background-image: url("../images/bgright.png"), url("../images/bgleft.png");
  background-position: right, left;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

article {
  margin: 0px;
}

h4 {
  font-size: 1.3em;
  margin: 5px;
}

h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 5px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-around-row {
  justify-content: space-around;
}

.btn {
  height: 75px;
  width: 150px;
  font-size: 1.2em;
  background-color: #ffbf00;
  font-family: "Gugi";
  border: none;
  box-shadow: 0px 3px 5px 2px rgba(1, 1, 1, 0.4);
  font-weight: bold;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px 2px rgba(1, 1, 1, 0.5);
}

.end-screen-container {
  font-family: "Gugi";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/code.png");
  background-image: contain;
}

.end-header {
  font-size: 3em;
  margin-bottom: 20px;
}

.score-end {
  margin: 10px;
}

.end-screen-container button {
  margin-top: 30px;
}

.end-header-joke {
  font-size: 2em;
}

.volume {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin: 10px;
  position: absolute;
}

#music {
  background-image: url("../images/music.png");
  top: 10px;
  right: 10px;
}

#sound-effects {
  background-image: url("../images/sound-effect.png");
  top: 40px;
  right: 10px;
}
