body {
  height: 100vh;
  background-color: #58bc82;
  background-repeat: no-repeat;
  background-image: url("../images/bgright.png"), url("../images/bgleft.png");
  background-position: right, left;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

article {
  margin: 0px;
}

h4 {
  font-size: 1.3em;
  margin: 5px;
}

h3 {
  font-size: 1.5em;
  padding: 0;
  margin: 5px;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.space-around-row {
  justify-content: space-around;
}
